.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: fit-content;
    margin-top: 45px;
    padding: 23px 15px;
    min-width: 630px;
    gap: 12px;
}

.button {
    padding: 9px 13px;
    font-size: var(--primary-font-size);
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
        border: 1px solid var(--primary);

    &:hover {
        background-color: var(--hover-primary-color);
        transition: background-color 0.2s ease;
    }
}

.forgotPassword {
    display: flex;
    flex-direction: row;
    justify-content: start;
    > a {
    display: inline;
    color: var(--primary);
    font-size: var(--primary-font-size);
    margin-left: 4px;
    &:hover {
        text-decoration: underline;
        color: var(--hover-primary-color);
    }
}
}